@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap');

body{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    /* background: black; */
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    }
    
    div{
    background-color: darkgrey;
    margin-top: 50px;
    opacity: 0.8;
    }
    
    h1{
    font-size: 40px;
    }
    
    h3{
    font-size: 30px;
    color: darkgreen;
    }
    
    label{
    font-size: 25px;
    color: darkblue;
    }
    
    span{
    font-size: 25px;
    color: darkmagenta;
    }